
<!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
 <!-- The nav element represents a section of a page that links to other pages or to parts within the page: 
  a section with navigation links. -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- routerLink instead of href for each list item a hyperlink commands to pass to Router#createUrlTree or a UrlTree -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/master" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-management" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/supplier" routerLinkActive="active">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order-manager" routerLinkActive="active">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inventory-tracking" routerLinkActive="active">Inventory</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- form for search -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success  " type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

   <!-- add tags for component and don't forget to import Components in ts file under @Component imports -->
  <!-- <app-master></app-master> -->
  <!-- pt for padding -->
  <div class="container pt-2">
    <!-- RouterOutlet component needed for app -->
    <router-outlet></router-outlet>
  </div>
<!-- <router-outlet /> -->
