
<section class="vh-100 bg-image"
  style="background-image: url('https://www.parentmap.com/sites/default/files/styles/1180x660_scaled_cropped/public/2019-09/The%20Confectionery%20candy%20stores.jpg?itok=AUUR-T-i');">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          
        </div>
      </div>
    </div>
  </div>
</section>
